<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="임호고챗봇"
  agent-id="0dec1bbd-95be-4a43-8305-7d1ac9dcf8d4"
  language-code="ko"
></df-messenger>

    
<style>
  df-messenger {
   --df-messenger-bot-message: #D6F7FC;
   --df-messenger-chat-background-color: #EFF6F6;
   --df-messenger-input-box-color: #EFF1F1;
   --df-messenger-font-color: black;
   --df-messenger-user-message: #FBF7B9;
  }
</style>
    
  
